* {
	/* Nice Font, Padding*/
	font-family: 'Merriweather', serif;
	padding: 10px;
}
#article {
	/*Border for the whole article*/
	border: 1px solid #325063;
}
#sub {
	/*Italic*/
	font-style: italic;
}
#sub:first-letter {
	/* bigger first letter*/ 
	font-size: 200%;
}
img {
	/*image adjustment*/
	height: 250px;
	width: 350px;
	float: left;
}
#quote {
	/*emphasising*/
	font-style: italic;
	font-size: 120%;
}