* {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
body {
	background-color: #5487BF;
	color: white;
	overflow: hidden;
}
header {
	width: 800px;
	height: 110px;
}
#header>span {
	margin-top: 14px;
	text-align: center;
}
#logo1 {
	position: relative;
	left: 15%;
	margin-top: 28px;
	text-align: center;
	width: 62px;
	height: 39px;
}
#logo2 {
	position: relative;
	left: 15%;
	width: 101px;
	height: 39px;
}
#logo3 {
	position:fixed;
	width: 153px;
	height: 50px;
	left: 672px;
	top: 15px;
	margin-top: 10px;
}
#wetter{
	position:fixed;
	width: 153px;
	height: 50px;
	left: 400px;
	top: 15px;
	margin-top: 5px;
}
ul {
	
	list-style: none;
}
nav {
	background-color: #4572A1;
	margin-top: 16px;
	margin-left: 24px;	
}
nav{
	height: 32px;
	width: 800px;

}
nav li {
	background-color: #4572A1;
	padding-top: 7px;
	padding-left: 15px;
	float: left;
	display: inline;
}
a {
	color: white;
	font-size: 14px;
	text-decoration: none;
}
a:hover{
	cursor:default;
}
ul a {
	
	background-color: #4572A1;



}
#ORF {
	padding-left: 110px;

}
.imgmain {
	top: 124px;
	left:24px;
	position: fixed;
	background-color: #5F8EC3;
	width: 800px;
	height: 1100px;
}
.imgm{
	position: fixed;

}
.highsquarimg{
	width:156px;
	height: 247px;
	background-color: yellow;
}

.squarimg{
	width:156px;
	height: 121px;
}
.rectangleimg{
	width:317px;
	height: 121px;
}
#firstimg {
	width:156px;
	height: 247px;

	content:url(https://orf.at/static/images/site/news/20180415/trump_syrien_raketenangriff_2h_ap.4812822.jpg);
}
#secondimg{
	left: 184px;
	content:url(https://orf.at/static/images/site/news/20180415/facebook_zuckerberg_zweite_anhoerung_2q_afp.4812883.jpg);
}
#thirdimg {
	left: 506px;
	content:url(https://orf.at/static/images/site/news/20180415/link_sport_fus_cl_stand_1k_afp.4812897.jpg);
}
#fourthimg {
	left: 668px;
	content:url(https://orf.at/static/images/site/news/20180415/saudi_arabien_fashion_week_2h_afp.4812803.jpg);
}
#fithimg{
	left: 184px;
	top: 250px;
	content:url(https://orf.at/static/images/site/news/20180415/link_oest_ebus_wien_1k_a.4812888.jpg);
}
#sixthimg{
	top: 250px;
	left: 346px;
	content:url(https://orf.at/static/images/site/news/20180415/deutschklassen_kritik_volksschueler_2q_cka.4812867.jpg);
}
#content{
	position: fixed;

	top:380px;
	left: 24px;
	width: 640px;
}
.otopic{
	color: #222222;
	text-align: right;
	font-size: 14px;
	margin-top: 10px;

	width: 140px;
	position: relative;

	width: 156px;
	padding-top: 4px;
	float: left;
	text-transform: uppercase;
}
#contentCenter {
	clear:both;
	position:relative;
	float: left;
	left:160px;
	width: 480px;
	margin-top:-21px;
	font-size: 14px;
	line-height: 1.5em;

}
.contentLink {
	padding-left: 4px;
	padding-top: 4px;

}
.overtopic{
	position:relative;
	float: left;
	width:640px;

}
#bundesl {
	background-color:#5487BF;
	margin-left:4px;
	padding-bottom: 10px;
}
#benach{
    margin-top: 32px;
}
footer {
	position: fixed;
	background-color: #194169;
	height: 30px;
	width: 802px;
	top: 1185px;
	left: 24px;
}
footer ul {
	list-style-type: none;
	left: 150px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	background-color: #194169;
}
footer li {

	float: left;
}
footer a {
	font-weight: bold;
	display: block;
	color: white;
	text-align: center;
	padding-top: 6px;
	padding-left: 20px;
	text-decoration: none;
	background-color: #194169;
}

#orfpng{
	width: 45px;
	height: 17px;
	left: 990px;
	padding-top:6px;
	padding-left:66px;
}












